@{ 
    // use current controller and action to determine if nav-tab is active
    string currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    string currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RSI_Calendar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/main.min.css" /> <!--Default calendar styles-->
    <link rel="stylesheet" href="~/css/site.css" />
    @inject SignInManager<User> signInManager
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 bg-rsi-blue">
            <div class="container">
                @if (!signInManager.IsSignedIn(User)) // NOT SIGNED IN
                {
                    // LOGO
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                        <img id="rsi-logo" src="~/images/rsi-logo-white-text.png" />
                    </a>
                }
                else // IS SIGNED IN
                {
                    // LOGO
                    <a class="navbar-brand text-white" 
                       asp-area="" asp-controller="Calendar" asp-action="Calendar">
                        <img id="rsi-logo" src="~/images/rsi-logo-white-text.png" />
                    </a>

                    // FLEX MENU
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarNav">
                        <ul class="navbar-nav flex-grow-1">

                            <!-- CALENDAR NAV BUTTON -->
                            <li class="nav-item">
                                <a class="nav-link 
                                   @Nav.Active("Calendar/Calendar", currentController, currentAction)" 
                                   asp-area="" asp-controller="Calendar" asp-action="Calendar"
                                   >Calendar</a>
                            </li>

                            <!-- EVENT SEARCH NAV BUTTON -->
                            <li class="nav-item">
                                <a class="nav-link 
                                   @Nav.Active("Event/Search", currentController, currentAction)" 
                                   asp-area="" asp-controller="Event" asp-action="Search"
                                   >Event Search</a>
                            </li>


                            <!-- ADMIN SPECIFIC NAV LINKS -->
                            @if(User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link 
                                       @Nav.Active("AdminUser/Search", currentController, currentAction)" 
                                       asp-area="Admin" asp-controller="AdminUser" asp-action="Search"
                                       >User Search</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link 
                                       @Nav.Active("AdminUser/Register", currentController, currentAction)" 
                                       asp-area="Admin" asp-controller="AdminUser" asp-action="Register"
                                       >New User</a>
                                </li>
                            }


                            <!-- CULAM SPECIFIC NAV LINKS -->
                            @if(User.IsInRole("CulAm"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link 
                                       @Nav.Active("CulAmEvent/Add", currentController, currentAction)" 
                                       asp-area="CulAm" asp-controller="CulAmEvent" asp-action="Add"
                                       >New Event</a>
                                </li>
                            }
                        </ul>
                    </div>


                    <!-- USERNAME/SETTINGS LINK -->
                    <div>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item ms-auto">
                                <a class="nav-link ms-auto
                                @Nav.Active("User/Settings", currentController, currentAction)"
                                    asp-area=""
                                    asp-controller="User"
                                    asp-action="Settings">@User.Identity.Name</a>
                            </li>
                        </ul>
                    </div>

                    // NAVIGATION TOGGLE FOR SMALL SCREENS
                    <button type="button" 
                            class="navbar-toggler" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#navbarNav" 
                            aria-controls="navbarSupportedContent" 
                            aria-expanded="false" 
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                }
            </div>           
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData.Keys.Contains("message"))
            {
                <h4 class="bg-info text-center text-white p-2">@TempData["message"]</h4>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RSI_Calendar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fullcalendar/main.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Calendar.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
