@{ 
    // use current controller or area to determine if tab is active
    string currentView = ViewContext.RouteData.Values["area"]?.ToString() ??
        ViewContext.RouteData.Values["controller"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RSI_Calendar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/main.min.css" /> <!--Default calendar styles-->
    <link rel="stylesheet" href="~/css/site.css" />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                eventSources: [
                    {
                        url: '/calendar/getrequiredevents',
                        color: 'red',
                        textColor: 'white'
                    },
                    {
                        url: '/calendar/geteducationevents',
                        color: 'blue',
                        textColor: 'white'
                    },
                    {
                        url: '/calendar/getfunevents',
                        color: 'green',
                        textColor: 'white'
                    },
                    {
                        url: '/calendar/getfamilyevents',
                        color: 'yellow',
                        textColor: 'black'
                    }
                    
                ],
                initalView: 'dayGridMonth',
                navLinks: true,
                headerToolbar: {
                    left: 'prevYear,prev,next,nextYear today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                eventClick: function (info) {
                    var eventObj = info.event;
                    if (eventObj.url) {
                        window.open(eventObj.url);
                        info.jsEvent.preventDefault();
                    } else {
                        alert('Clicked Event: ' + eventObj.title);
                    }
                }
            });
            calendar.render();
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 bg-rsi-blue">
            <div class="container">
                <!-- LOGO -->
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="rsi-logo" src="~/images/rsi-logo-white-text.png" />
                </a>
                @using Microsoft.AspNetCore.Identity
                @inject SignInManager<User> signInManager
                @if (!signInManager.IsSignedIn(User))
                {


                    <div class="navbar d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="" stye="text-decoration: none">
                                <a asp-action="LogIn" asp-controller="User"
                                   asp-area="" class="btn btn-outline-light">Log In</a>
                            </li>
                        </ul>
                    </div>

                }
                else
                {
                    <button class="navbar-toggler navbar-toggler-icon" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-bs-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <!-- CALENDAR NAV BUTTON -->
                            <li class="nav-item">
                                <a class="nav-link @Nav.Active("Calendar", currentView)" asp-area="" asp-controller="Calendar" asp-action="Calendar">Calendar</a>
                            </li>
                            <!-- EVENT SEARCH NAV BUTTON -->
                            <li class="nav-item">
                                <a class="nav-link @Nav.Active("Event", currentView)" asp-area="" asp-controller="Event" asp-action="Search">Event Search</a>
                            </li>
                            <!-- ADMIN SPECIFIC NAV LINKS -->
                            @if(User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @Nav.Active("Admin", currentView)" asp-area="Admin" asp-controller="AdminUser" asp-action="Search">User Search</a>
                                </li>
                            }
                            <!-- CULAM SPECIFIC NAV LINKS -->
                            @if(User.IsInRole("CulAm"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link @Nav.Active("CulAm", currentView)" asp-area="CulAm" asp-controller="CulAmEvent" asp-action="Add">New Event</a>
                                </li>
                            }
                            <!-- LOGIN/LOGOUT && SETTINGS -->
                            <li class="nav-item ms-auto">
                                <a class="nav-link" 
                                   asp-controller="User" 
                                   asp-action="Settings">@User.Identity.Name</a>
                            </li>
                            <li class="nav-item" stye="text-decoration: none">
                                <form method="post" asp-action="LogOut" asp-controller="User"
                                      asp-area="">
                                    <input type="submit" value="Log Out"
                                           class="btn btn-outline-light" />
                                </form>
                            </li>
                        </ul>
                    </div>
                }
            </div>           
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData.Keys.Contains("message"))
            {
                <h4 class="bg-info text-center text-white p-2">@TempData["message"]</h4>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RSI_Calendar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fullcalendar/main.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
