<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RSI_Calendar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fullcalendar/main.min.css" /> <!--Default calendar styles-->
    <link rel="stylesheet" href="~/css/site.css" />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                eventSources: [
                    {
                        url: '/calendar/getrequiredevents',
                        color: 'red',
                        textColor: 'white'
                    },
                    {
                        url: '/calendar/geteducationevents',
                        color: 'blue',
                        textColor: 'white'
                    },
                    {
                        url: '/calendar/getfunevents',
                        color: 'green',
                        textColor: 'white'
                    },
                    {
                        url: '/calendar/getfamilyevents',
                        color: 'yellow',
                        textColor: 'black'
                    }
                    
                ],
                initalView: 'dayGridMonth',
                navLinks: true,
                headerToolbar: {
                    left: 'prevYear,prev,next,nextYear today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                eventClick: function (info) {
                    var eventObj = info.event;
                    if (eventObj.url) {
                        alert(
                            'Clicked Event: ' + eventObj.title + '.\n' +
                            'Will open Event Details in a new tab'
                        );
                        window.open(eventObj.url);
                        info.jsEvent.preventDefault();
                    } else {
                        alert('Clicked Event: ' + eventObj.title);
                    }
                }
            });
            calendar.render();
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 bg-rsi-blue">
            <div class="container">
                <!-- LOGO -->
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="rsi-logo" src="~/images/rsi-logo-white-text.png" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @using Microsoft.AspNetCore.Identity
                @inject SignInManager<User> signInManager
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- CALENDAR NAV BUTTON -->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Calendar" asp-action="Calendar">Calendar</a>
                        </li>
                        <!-- EVENT SEARCH NAV BUTTON -->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Event" asp-action="Search">Event Search</a>
                        </li>

                        <!-- SIGN IN/OUT -->
                        @if (signInManager.IsSignedIn(User))
                        {
                            // signed-in user - Log Out button and username
                    <li class="nav-item" stye="text-decoration: none">
                        <form method="post" asp-action="LogOut" asp-controller="User"
                              asp-area="">
                            <input type="submit" value="Log Out"
                                   class="btn btn-outline-light" />
                            <span class="text-dark">@User.Identity.Name</span>
                        </form>
                    </li> }
                                else
                                {

                    <li class="nav-item" stye="text-decoration: none">
                        <a asp-action="LogIn" asp-controller="User"
                           asp-area="" class="btn btn-outline-light">Log In</a>
                    </li>}
                        @if (signInManager.IsSignedIn(User))
                        {
                            //if the user is signed in, display the user name
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="User" asp-action="Settings" asp-area="">Settings</a>
                            <div class="dropdown-divider"></div>
                            @if (User.IsInRole("Admin"))
                            {

                    <a class="dropdown-item" asp-controller="Users" asp-action="ViewUsers" asp-area="Admin">Users</a>
                                        <div class="dropdown-divider"></div>}
                            @if (User.IsInRole("CulAm"))
                            {

                    <a class="dropdown-item" asp-controller="Event" asp-action="ViewEvents" asp-area="CulAm">Events</a>
                                        <div class="dropdown-divider"></div>}
                            <a class="dropdown-item" asp-controller="User" asp-action="LogOut" asp-area="">Log Out</a>
                        </div>
                    </li>}
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @if (TempData.Keys.Contains("message"))
            {
                <h4 class="bg-info text-center text-white p-2">@TempData["message"]</h4>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RSI_Calendar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fullcalendar/main.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
