@model Employee
@{
    ViewData["Title"] = "Account Settings";
 }

<!-- PAGE TITLE -->
<div class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center text-white">Account Settings</h1>
    </div>
</div>


<div class="container mt-5 mb-5 p-5 rsi-form">
    <form asp-action="Settings" method="post">
        <!-- ID For Model Binding but not displayed -->
        <div class="row">
            <input asp-for="@Model.ID" hidden />
        </div>

        <!-- FIRST NAME -->
        <div class="form-group row">
            <label for="userSettingsFName" class="col-sm-2 col-form-label fw-bold">First Name:</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control-plaintext"
                       id="userSettingsFName" asp-for="FName">
            </div>
        </div>

        <!-- LAST NAME -->
        <div class="form-group row">
            <label for="userSettingsLName" class="col-sm-2 col-form-label fw-bold">Last Name:</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control-plaintext"
                       id="userSettingsLName" asp-for="LName">
            </div>
        </div>

        <!-- EMAIL -->
        <div class="form-group row">
            <label for="userSettingsEmail" class="col-sm-2 col-form-label fw-bold">Email:</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control-plaintext"
                       id="userSettingsEmail" asp-for="Email">
            </div>
        </div>

        <!-- ROLE -->
        <div class="form-group row">
            <label for="userSettingsRole" class="col-sm-2 col-form-label fw-bold">Role:</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control-plaintext"
                       id="userSettingsRole" asp-for="Role">
            </div>
        </div>

        <!-- BRANCH -->
        <div class="form-group row">
            <label for="userSettingsLocation" class="col-sm-2 col-form-label fw-bold">Branch:</label>
            <div class="col-sm-7">
                <input asp-for="Branch" readonly class="form-control-plaintext" />
            </div>
        </div>

        <!-- Password Field -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Password:</label>
            <div class="col-sm-7">
                <button type="button" class="btn rsi-btn-blue" data-bs-toggle="modal" data-bs-target="#passwordModal">Change Password</button>
            </div>
        </div>

        <!-- NOTIFICATIONS -->
        <div class="form-group row mt-5">
            <label class="col-sm-2"></label>
            <div class="col-sm-7">
                <fieldset class=" p-3 border border-dark border-1 shadow-sm rounded">
                    <legend class="fw-bold">Notifications for Event Types</legend>
                    <!-- EDUCATIONAL -->
                    <div class="form-check">
                        <label class="form-check-label">Educational</label>
                        <input asp-for="@Model.ReceiveEduNotis" class="form-check-input" type="checkbox">
                    </div>
                    <!-- FUN -->
                    <div class="form-check">
                        <label class="form-check-label">Fun with Coworkers</label>
                        <input asp-for="@Model.ReceiveFunNotis" class="form-check-input" type="checkbox">
                    </div>
                    <!-- FAMILY -->
                    <div class="form-check">
                        <label class="form-check-label">Bring the Family</label>
                        <input asp-for="@Model.ReceiveFamNotis" class="form-check-input" type="checkbox">
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- Form Buttons -->
        <div class="form-group row mt-5">
            <div class="col-sm-2"></div>
            <div class="col-sm-7">
                <div class="btn-group-lg">
                    <!-- Register -->
                    <input class="btn rsi-btn-blue shadow-sm" type="submit" value="Save Changes">
                    <!-- CANCEL -->
                    <a class="btn rsi-btn-white shadow-sm" type="button" asp-area="" asp-controller="Calendar" asp-action="Calendar">Cancel</a>
                </div>
            </div>
        </div>



        <!-- Password Modal -->
        <div class="modal fade" data-bs-backdrop="static" id="passwordModal" tabindex="-1" aria-labelledby="Change Password" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAttachmentLabel">Change Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="OldPassword" class="fw-bold">Old Password:</label>
                        <input asp-for="OldPassword" type="password" class="form-control shadow-sm rsi-password" />

                        <label for="NewPassword" class="fw-bold">New Password:</label>
                        <input asp-for="NewPassword" type="password" class="form-control shadow-sm rsi-password" />

                        <label for="ConfirmNewPassword" class="fw-bold">Confirm New Password:</label>
                        <input asp-for="ConfirmNewPassword" type="password" class="form-control shadow-sm rsi-password" />

                        <!-- SHOW/HIDE PASSWORD -->
                        <label for="registerShowPassword" class="form-check-label">Show Password?</label>
                        <input type="checkbox" onclick="toggle_password();" id="registerShowPassword"
                                       class="form-check-input passwordToggle">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn rsi-btn-white" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn rsi-btn-blue" asp-area="" asp-controller="User" asp-action="ChangePassword">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<script src="~/js/Passwords.js"></script>







<!-- SHOW/HIDE PASSWORD -->
@*<div class="form-group row top-50">
        <label class="col-sm-2"></label>
        <div class="col-sm-7">
            <label for="userSettingsShowPassword" class="form-check-label">Show Password?</label>
            <input type="checkbox" onclick="toggle_password();" id="userSettingsShowPassword"
                   class="form-check-input passwordToggle">
        </div>
    </div>*@




<!-- Password Modal -->
@*<div class="modal fade" data-bs-backdrop="static" id="passwordModal" tabindex="-1" aria-labelledby="Change Password" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAttachmentLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="OldPassword" class="col-md-2 col-form-label fw-bold">Old Password:</label>
                    <input asp-for="OldPassword" type="password" class="form-control shadow-sm" />

                    <label for="NewPassword" class="col-md-2 col-form-label fw-bold">New Password:</label>
                    <input asp-for="NewPassword" type="password" class="form-control shadow-sm" />

                    <label for="ConfirmNewPassword" class="col-md-2 col-form-label fw-bold">New Password:</label>
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control shadow-sm" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" asp-area="" asp-controller="User" asp-action="ChangePassword">Submit</button>
                </div>
            </div>
        </div>
    </div>*@





<!-- Notification Options -->
@*<div class="form-group row mt-5">
        <div class="row">
            <label for="eduNotis" class="col-sm-2 col-form-label fw-bold">Educational Events:</label>
            <div class="col-sm-7">
                <select asp-for="@Model.ReceiveEduNotis" class="form-select shadow-sm" aria-label="Educational Notificaion Selector">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label for="funNotis" class="col-sm-2 col-form-label fw-bold">Fun With Coworkers Events:</label>
            <div class="col-sm-7">
                <select asp-for="@Model.ReceiveFunNotis" class="form-select shadow-sm" aria-label="Cowoker Fun Notificaion Selector">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label for="eduNotis" class="col-sm-2 col-form-label fw-bold">Fun With Family Events:</label>
            <div class="col-sm-7">
                <select asp-for="@Model.ReceiveFamNotis" class="form-select shadow-sm" aria-label="Family Fun Notificaion Selector">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </div>
        </div>
    </div>*@