@model EventDetailsViewModel
@{ }

<!-- EVENT TITLE -->
<div id="event-delete-jumbotron" class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center  text-rsi-red">Are you sure you want to delete this event?</h1>
    </div>
</div>


<div id="event-delete-form" class="container mt-5 mb-5 p-5 rsi-form">
    <form asp-controller="CulAmEvent" asp-action="Delete" method="post">
        <!-- EVENT NAME -->
        <div class="row">
            <label for="eventDeleteName" class="col-sm-3 col-lg-2 col-form-label fw-bold">Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control-plaintext" id="eventDeleteName" value="@Model.Event.Name">
            </div>
        </div>

        <!-- START -->
        <div class="row">
            <label for="eventDeleteStart" class="col-sm-3 col-lg-2 col-form-label fw-bold">Start:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control-plaintext" id="eventDeleteStart" value="@Model.Event.StartDate">
            </div>
        </div>

        <!-- END -->
        <div class="row">
            <label for="eventDeleteEnd" class="col-sm-3 col-lg-2 col-form-label fw-bold">End:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control-plaintext" id="eventDeleteEnd" value="@Model.Event.EndDate">
            </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="row">
            <label for="eventDeleteDescription" class="col-sm-3 col-lg-2 col-form-label fw-bold">Description:</label>
            <div class="col-sm-7">
                <textarea class="form-control-plaintext" id="eventDeleteDescription"
                          readonly>@Model.Event.Description</textarea>
            </div>
        </div>

        <!-- LOCATION -->
        <div class="row">
            <label for="eventDeleteLocation" class="col-sm-3 col-lg-2 col-form-label fw-bold">Location:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control-plaintext" id="eventDeleteLocation" value="@Model.Event.Location" readonly>
            </div>
        </div>

        <!-- BRANCH -->
        <div class="row">
            <label for="eventDeleteBranch" class="col-sm-3 col-lg-2 col-form-label fw-bold">Branch:</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control-plaintext" id="eventDeleteBranch" value="@Model.Event.Branch">
            </div>
        </div>

        <!-- TYPE -->
        <div class="row">
            <label for="eventDeleteType" class="col-sm-3 col-lg-2 col-form-label fw-bold">Event Type:</label>
            <div class="col-sm-7">
                <input type="text" readonly class="form-control-plaintext" id="eventDeleteType" value="@Model.Event.Type">
            </div>
        </div>

        <!-- ATTACHMENTS -->
        <div class="row top-50">
            <label for="eventDeleteAttachments" class="col-sm-3 col-lg-2 col-form-label fw-bold">Attachments:</label>
            <div class="col-sm-7">
                <ul class="list-group" id="eventDeleteAttachments">
                    @foreach (var attachment in Model.Attachments)
                    {
                        <li class="list-group-item">
                            <a href="@attachment.Link"
                                class="link-primary">
                                @attachment.Title
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <!-- BUTTONS -->
        <div class="form-group row mt-5">
            <div class="col-sm-3 col-lg-2"></div>
            <div class="col-sm-7">
                <div class="btn-group-lg">
                    <!-- DELETE -->
                    <a class="btn rsi-btn-red shadow-sm"
                       asp-area="CulAm"
                       asp-controller="CulAmEvent"
                       asp-action="Delete"
                       asp-route-id="@Model.Event.EventID">Delete</a>
                    <!-- CANCEL -->
                    <a class="btn rsi-btn-white shadow-sm"
                       asp-area=""
                       asp-controller="Event"
                       asp-action="Details"
                       asp-route-id="@Model.Event.EventID">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
