@model Event
@{ 
    ViewData["Title"] = ViewBag.Action + " Event";

    string buttonText;
    if (ViewBag.Action == "Add")
    {
        buttonText = "Add";
    } else
    {
        buttonText = "Save";
    }
    string titleString;
    string[] titles;
    string linkString;
    string[] links;

    if (TempData["titles"] == null)
    {
        titleString = "NO ATTACHMENT";
        titles = titleString.Split(',');
        linkString = "NO ATTACHMENT";
        links = linkString.Split(',');
    }
    else
    {
        titleString = TempData["titles"].ToString();
        titles = titleString.Split(',');
        linkString = TempData["links"].ToString();
        links = linkString.Split(',');
    }
}


<div class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center text-white">@ViewBag.Action Event</h1>
    </div>
</div>

<div class="container mt-5 mb-5 p-5 rsi-form">
    <form asp-action="Edit" method="post">

        <!-- TITLE -->
        <div class="row">
            <label for="eventEditTitle" class="col-md-2 col-form-label fw-bold">Title:</label>
            <div class="col-md-7">
                <input asp-for="Name" type="text" class="form-control shadow-sm" id="eventEditTitle">
            </div>
        </div>

        <!-- START -->
        <div class="row">
            <label for="eventEditStart" class="col-md-2 col-form-label fw-bold">Start:</label>
            <div class="col-md-7">
                <input asp-for="StartDate" type="datetime-local" class="form-control shadow-sm" id="eventEditStart">
            </div>
        </div>

        <!-- END -->
        <div class="row top-50">
            <label for="eventEditEnd" class="col-md-2 col-form-label fw-bold">End:</label>
            <div class="col-md-7">
                <input asp-for="EndDate" type="datetime-local" class="form-control shadow-sm" id="eventEditEnd">
            </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="row top-50">
            <label for="eventEditDescription" class="col-md-2 col-form-label fw-bold">Description:</label>
            <div class="col-md-7">
                <textarea asp-for="Description" class="form-control shadow-sm" id="eventEditDescription"></textarea>
            </div>
        </div>

        <!-- LOCATION -->
        <div class="row">
            <label for="eventEditLocation" class="col-md-2 col-form-label fw-bold">Location:</label>
            <div class="col-md-7">
                <input asp-for="Location" type="text" class="form-control shadow-sm" id="eventEditLocation">
            </div>
        </div>

        <!-- BRANCH -->
        <div class="row">
            <label for="eventEditBranch" class="col-md-2 col-form-label fw-bold">Branch:</label>
            <div class="col-md-7">
                <select asp-for="Branch" class="form-select shadow-sm" aria-label="Branch Selection" id="eventEditBranch">
                    <option value="Augusta, GA" selected>Augusta, GA</option>
                    <option value="Albuquerque, NM">Albuquerque, NM</option>
                    <option value="FortWayne, IN">FortWayne, IN</option>
                    <option value="Jonesboro, AR">Jonesboro, AR</option>
                    <option value="Madison, WI">Madison, WI</option>
                    <option value="Milwaukee, WI">Milwaukee, WI</option>
                    <option value="Mobile, AL">Mobile, AL</option>
                    <option value="Oklahoma City, OK">Oklahoma City, OK</option>
                </select>
            </div>
        </div>

        <!-- TYPE -->
        <div class="row">
            <label for="eventEditType" class="col-md-2 col-form-label fw-bold">Type:</label>
            <div class="col-md-7">
                <select asp-for="Type" class="form-select shadow-sm" aria-label="Event Type Selection" id="eventEditType">
                    <option value="Req" selected>Required</option>
                    <option value="Fun">Fun with Coworkers</option>
                    <option value="Fam">Fun with Family</option>
                    <option value="Edu">Education</option>
                </select>
            </div>
        </div>

        <input type="hidden" asp-for="EventID" /> <!-- Hidden input for the event ID so its actively in the model-->
        <!-- ATTACHMENTS TABLE -->
        <div class="row top-50">
            <label for="eventDetailsAttachments" class="col-md-2 col-form-label fw-bold">Attachments:</label>
            <div class="col-md-7">
                <ul class="list-group" id="eventDetailsAttachments">
                    @if (titleString != "NO ATTACHMENT")
                    {
                        for (int i = 0; i < titles.Length - 1; i++)
                        {
                            <li class="list-group-item">
                                <a href="@links[i]" class="link-primary">@titles[i]</a>
                            </li>
                        }
                    }
                </ul>

                <button type="button" class="btn rsi-btn-blue" data-bs-toggle="modal" data-bs-target="#attachmentModal">
                    Add Attachment
                </button>

                <!-- Modal -->
                <div class="modal fade" id="attachmentModal" tabindex="-1" aria-labelledby="Add Attachment" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addAttachmentLabel">Add Attachment</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="eventEditType" class="col-md-2 col-form-label fw-bold">Title:</label>
                                <input asp-for="AttachmentName" type="text" class="form-control shadow-sm" />

                                <label for="eventEditType" class="col-md-2 col-form-label fw-bold">Link:</label>
                                <input asp-for="AttachmentLink" type="text" class="form-control shadow-sm" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" asp-action="AddAttachment" asp-controller="CulAmEvent">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BUTTONS -->
        <div class="form-group row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-7">
                <div class="btn-group-lg">
                    <!-- SAVE -->
                    <input class="btn rsi-btn-blue shadow-sm" type="submit" value="@buttonText">
                    <!-- CANCEL -->
                    @if (Model.Name == null)
                    {
                        <a class="btn rsi-btn-white shadow-sm"
                           asp-area=""
                           asp-controller="Calendar"
                           asp-action="Calendar">Cancel</a>
                    }
                    else
                    {
                        <a class="btn rsi-btn-white shadow-sm"
                           asp-area=""
                           asp-controller="Event"
                           asp-action="Details"
                           asp-route-id="@Model.EventID">Cancel</a>
                    }

                </div>
            </div>
        </div>
    </form>
</div>







