@model List<Attachment>
@{

}

<div class="jumbotron jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center text-white">Manage Attachments</h1>
    </div>
</div>

<form class="rsi-form">
    @foreach(var a in Model)
    {
        <div class="row">
            <div class="col">
                <label asp-for="@a.Title">Title</label>
                <input asp-for="@a.Title" />
            </div>
            <div class="col">
                <label asp-for="@a.Link">Link</label>
                <input asp-for="@a.Link" />
            </div>
            <div>
                <input asp-for="@a.EventID" type="hidden" />
                <input asp-for="@a.ID" type="hidden" />
            </div>
        </div>
    }
</form>

