@namespace RSI_Calendar.Areas.Admin.Models
@model RegisterViewModel
@{ ViewBag.Title = "New User";}

<div class="jumbotrol jumbotron-fluid bg-rsi-blue p-3 mb-3 rounded">
    <div class="container">
        <h1 class="display-6 text-center text-white">Register New Employee</h1>
    </div>
</div>

<div class="container rsi-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form method="post" asp-action="Register">
        <!-- FIRST NAME -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">First Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control shadow-sm" asp-for="@Model.FName" />
            </div>
        </div>

        <!-- LAST NAME -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Last Name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control shadow-sm" asp-for="@Model.LName" />
            </div>
        </div>

        <!-- EMAIL -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Email:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control shadow-sm" asp-for="@Model.Email" />
            </div>
        </div>

        <!-- BRANCH -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Branch:</label>
            <div class="col-sm-7">
                <select asp-for="@Model.Branch" class="form-select shadow-sm" aria-label="Branch Selection">
                    <option selected value="Augusta, GA">Augusta, GA</option>
                    <option value="Albuquerque, NM">Albuquerque, NM</option>
                    <option value="FortWayne, IN">FortWayne, IN</option>
                    <option value="Jonesboro, AR">Jonesboro, AR</option>
                    <option value="Madison, WI">Madison, WI</option>
                    <option value="Milwaukee, WI">Milwaukee, WI</option>
                    <option value="Mobile, AL">Mobile, AL</option>
                    <option value="Oklahoma City, OK">Oklahoma City, OK</option>
                </select>
            </div>
        </div>

        <!-- Role -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Role:</label>
            <div class="col-sm-7">
                <select asp-for="@Model.Role" class="form-select shadow-sm" aria-label="Role Selection">
                    <option selected value="user">User</option>
                    <option value="admin">Admin</option>
                    <option value="culam">Cultural Ambassador</option>
                </select>
            </div>
        </div>

        <!-- PASSWORD -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Password:</label>
            <div class="col-sm-7">
                <input id="password" type="text" 
                       class="form-control shadow-sm rsi-password" asp-for="@Model.Password" />
            </div>
        </div>

        <!-- CONFIRM PASSWORD -->
        <div class="form-group row">
            <label class="col-sm-2 col-form-label fw-bold">Password:</label>
            <div class="col-sm-7">
                <div>
                    <input id="confirmPassword" type="text" 
                           class="form-control shadow-sm rsi-password" asp-for="@Model.ConfirmPassword" />
                </div>
            </div>
        </div>

        <!-- SHOW/HIDE PASSWORD -->
        <div class="form-group row top-50">
            <label class="col-sm-2"></label>
            <div class="col-sm-7">
                <label for="registerShowPassword" class="form-check-label">Show Password?</label>
                <input type="checkbox" onclick="toggle_password();" id="registerShowPassword"
                       class="form-check-input passwordToggle" checked>
            </div>
        </div>
        
        <div class="form-group row mt-5">
            <div class="col-sm-2"></div>
            <div class="col-sm-7">
                <div class="btn-group-lg">
                    <!-- Register -->
                    <input class="btn rsi-btn-blue shadow-sm" type="submit" value="Register">
                    <!-- CANCEL -->
                    <a class="btn rsi-btn-white shadow-sm" type="button" asp-area="Admin" asp-controller="AdminUser" asp-action="Search">Cancel</a>
                </div>
            </div>
        </div>

    </form>
</div>

<script src="~/js/Passwords.js"></script>
