@namespace RSI_Calendar.Areas.Admin.Models
@model UserSearchViewModel
@{
    ViewData["Title"] = "User Search";
}
<!--Page Title-->
<div class="container bg-rsi-blue p-3 mb-3 rounded">
    <h1 class="display-6 text-center text-white">User Search</h1>
</div>

<!--Search Parameters-->
<div class="container rsi-form">
    <form asp-action="Search" method="post">
        <!--User Search Term-->
        <div class="row mb-3">
            <label class="col-form-label col-sm-2 col-lg-1 fw-bold" for="userSearchTerm">Term:</label>
            <div class="col-sm-10 col-lg-5">
                <input class="form-control" type="text" id="userSearchTerm" asp-for="Term"
                       placeholder="First Name, Last Name, or Email Address" />
            </div>
        </div>
        <!-- User Branch -->
        <div class="row mb-3">
            <label class="col-form-label col-sm-2 col-lg-1 fw-bold" for="userSearchBranch">Branch:</label>
            <div class="col-sm-10 col-lg-5">
                <select class="form-select" id="userSearchBranch" asp-for="Branch">
                    <option value="Any" selected>Any</option>
                    <option value="Augusta, GA">Augusta, GA</option>
                    <option value="Albuquerque, NM">Albuquerque, NM</option>
                    <option value="Fort Wayne, IN">Fort Wayne, IN</option>
                    <option value="Jonesboro, AR">Jonesboro, AR</option>
                    <option value="Madison, WI">Madison, WI</option>
                    <option value="Milwaukee, WI">Milwaukee, WI</option>
                    <option value="Mobile, AL">Mobile, AL</option>
                    <option value="Oklahoma, OK">Oklahoma, OK</option>
                </select>
            </div>
        </div>
        <!-- USER ROLE -->
        <div class="row mb-3">
            <label class="col-form-label col-sm-2 col-lg-1 fw-bold" for="userSearchRole">Role:</label>
            <div class="col-sm-10 col-lg-5">
                <select class="form-select" id="userSearchRole" asp-for="Role">
                    <option value="Any" selected>Any</option>
                    <option value="Employee">Employee</option>
                    <option value="CultrualAmbassador">Cultural Ambassador</option>
                    <option value="Admin">Administrator</option>
                </select>
            </div>
        </div>
        <!--Buttons-->
        <div class="row mb-3">
            <div class=" col-sm-2 col-lg-1"></div>
            <div class="col-sm-10 col-lg-5">
                <button type="submit" class="btn rsi-btn-blue shadow-sm">Search</button>
                <a type="button" class="btn rsi-btn-red shadow-sm col-sm-auto" asp-action="Search">Clear</a>
                <a type="button" class="btn rsi-btn-white shadow-sm"
                   asp-area=""
                   asp-controller="Calendar"
                   asp-action="Calendar">Cancel</a>
            </div>
        </div>
    </form>
</div>

<!--Search Results-->
<table class="table table-secondary table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Branch</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Employee e in Model.Results)
        {
        <tr>
            <td>@Html.DisplayFor(item => e.LName), @Html.DisplayFor(item => e.FName)</td>
            <td>@Html.DisplayFor(item => e.Email)</td>
            <td>@Html.DisplayFor(item => e.Branch)</td>
            <td>@Html.DisplayFor(item => e.Role)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@e.ID" target="_blank">Edit</a> |
                <a asp-action="Delete" asp-route-id="@e.ID" target="_blank">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>


