@model EventSearchViewModel
@{
    ViewData["Title"] = "Event Search";
}

<!--Page Title-->
<div class="container bg-rsi-blue p-3 mb-3 rounded">
    <h1 class="display-6 text-center text-white">Event Search</h1>
</div>

<!--Search Parameters-->
<div class="container rsi-form">
    <form asp-action="Search" method="post">
        <!--Event Name-->
        <div class="row mb-3">
            <label class="col-form-label col-sm-1 fw-bold" for="eventSearchName">Name:</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="eventSearchName" asp-for="Name" disabled="@(!(Model.IncludeName))" />
            </div>
            <div class="col-sm-auto align-self-center">
                <input class="form-check-input" type="checkbox" id="nameCheckbox" asp-for="IncludeName" 
                       onclick="document.getElementById('eventSearchName').disabled = !(document.getElementById('nameCheckbox').checked);" />
            </div>
        </div>
        <!--Event Date-->
        <div class="row mb-3">
            <label class="col-form-label col-sm-1 fw-bold" for="eventSearchStartDate">Date:</label>
            <div class="col-sm-2">
                <input class="form-control" type="date" id="eventSearchStartDate" asp-for="StartDate" disabled="@(!(Model.IncludeDate))" />
            </div>
            <div class="col-sm-1 text-center align-self-center">
                through
            </div>
            <div class="col-sm-2">
                <input class="form-control" type="date" id="eventSearchEndDate" asp-for="EndDate" disabled="@(!(Model.IncludeDate))" />
            </div>
            <div class="col-sm-auto align-self-center">
                <input class="form-check-input" type="checkbox" id="dateCheckbox" asp-for="IncludeDate" 
                       onclick="document.getElementById('eventSearchStartDate').disabled = !(document.getElementById('dateCheckbox').checked);
                                document.getElementById('eventSearchEndDate').disabled = !(document.getElementById('dateCheckbox').checked);" />
            </div>
        </div>
        <!--Branch that is hosting the event-->
        <div class="row mb-3">
            <label class="col-form-label col-sm-1 fw-bold" for="eventSearchBranch">Branch:</label>
            <div class="col-sm-5">
                <select class="form-select" id="eventSearchBranch" asp-for="Branch">
                    <option value="Any" selected>Any</option>
                    <option value="Augusta, GA">Augusta, GA</option>
                    <option value="Albuquerque, NM">Albuquerque, NM</option>
                    <option value="Fort Wayne, IN">Fort Wayne, IN</option>
                    <option value="Jonesboro, AR">Jonesboro, AR</option>
                    <option value="Madison, WI">Madison, WI</option>
                    <option value="Milwaukee, WI">Milwaukee, WI</option>
                    <option value="Mobile, AL">Mobile, AL</option>
                    <option value="Oklahoma City, OK">Oklahoma City, OK</option>
                </select>
            </div>
        </div>
        <!--Event Type-->
        <div class="row mb-3">
            <label class="col-form-label col-sm-1 fw-bold" for="eventSearchType">Type:</label>
            <div class="col-sm-5">
                <select class="form-select" id="eventSearchType" asp-for="Type">
                    <option value="Any" selected>Any</option>
                    <option value="Req">Required</option>
                    <option value="Edu">Education</option>
                    <option value="Fun">Fun</option>
                    <option value="Fam">Family</option>
                </select>
            </div>
        </div>
        <!--Buttons-->
        <div class="row gap-sm-3">
            <span class="col-sm-1"></span>
            <button type="submit" class="btn rsi-btn-blue shadow-sm col-sm-auto">Search</button>
            <a type="button" class="btn rsi-btn-red shadow-sm col-sm-auto" asp-action="Search">Clear</a>
            <a type="button" class="btn rsi-btn-white shadow-sm col-sm-auto" asp-controller="Calendar" asp-action="Calendar">Cancel</a>
        </div>
    </form>
</div>

<!--Search Results-->
<table class="table table-secondary table-hover table-bordered border-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Branch</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Event e in Model.Results)
        {
        <tr onmouseover="style.cursor = 'pointer';" onclick="window.open('/event/details/' + @e.EventID);">
            <td>@Html.DisplayFor(item => e.Name)</td>
            <td>@Html.DisplayFor(item => e.StartDate)</td>
            <td>@Html.DisplayFor(item => e.Branch)</td>
            <td>@Html.DisplayFor(item => e.Type)</td>
        </tr>
        }
    </tbody>
</table>